.container-header {
  display: flex;
  /* width: 100%; */
}
.search {
  margin-left: 15px;
  padding-left: 10px;
}
.search input {
  border-radius: 5px;
  height: 30px;
  background-color: #24292e;
  width: 200px;
  color: white;

  transition: width 0.5s;
}

.search input:focus {
  width: 300px;
}
.left-menu {
  display: flex;
  align-items: center;
}
.right-menu {
  display: flex;
  margin-left: auto;
}
h6 {
  color: white;
}
.Pull-request {
  margin-left: 15px;
  font-size: 22px;
}
.har-nav {
  display: none;
}
.hover-color:hover {
  color: gray;
  text-decoration: initial;
  list-style-type: none;
}
.Pull-request hover-color {
  text-decoration: none !important;
}
.issues {
  margin-left: 15px;
  font-size: 22px;
}
.Marketplace {
  margin-left: 15px;
  font-size: 22px;
}
.Explore {
  margin-left: 15px;
  font-size: 22px;
}

.drop-down {
  position: relative;
  display: inline-block;
  margin-left: 10px;
}
.dropdown-content {
  display: none;
  position: absolute;
  margin-top: 10px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  right: 0;
  border-radius: 10px;
}
.dropdown-content::before {
  content: "";
  position: absolute;
  top: -5px;
  right: 28px;
  width: 28px;
  height: 20px;
  background: #fff;
  transform: rotate(45deg);
}
.dropdown-content p {
  text-decoration: none;
}
.drop-down:hover .dropdown-content {
  display: block;
}
.logo {
  border-radius: 100%;
  align-items: center;
  margin-left: 25px;
}
.logo img {
  height: 40px;
}
#drop {
  padding-right: 15px;
}

.bg {
  background-color: #24292e;
}
@media (max-width: 770px) {
  .logo img {
    display: flex;
    justify-content: center;
    /* margin-left: -50%; */
    /* margin: 0px 200px 0 0; */
  }
  .search input {
    border-radius: 5px;
    height: 30px;
    background-color: #24292e;
    width: 200px;
    color: white;
  }
  .har-nav {
    display: block;
    color: antiquewhite;
  }
  .search {
    margin-top: 10px;
  }
  .right-menu {
    display: none;
  }
}
