.body {
  font-family: "Segoe UI Local" !important;
}
.home {
  display: flex;
  background-color: #fff;
}
.home-left {
  width: 30%;
  z-index: 3;
}
.home-right {
  flex-basis: 70%;
  position: relative;
  flex-wrap: wrap;
}
.line-tabs {
  position: absolute;
  margin-top: 68px;
  width: 100%;
}
@media (max-width: 770px) {
  .home {
    display: flex;
    flex-direction: column;
    background-color: #fff;
  }
  .home-left {
    width: 100%;
    z-index: 3;
    /* margin-top: -50px; */
  }
  .home-right {
    flex-basis: 100%;
    position: relative;
    flex-wrap: wrap;
  }
  .line-tabs {
    display: none;
  }
}
/* @media (max-width: 900px) {
  .home-left {
    width: 40%;
    z-index: 3;
  }
  .home-right {
    flex-basis: 60%;
    position: relative;
    flex-wrap: wrap;
  }
}  */
