.home-repos {
  width: 80%;
  margin-left: 20px;
}
.tags {
  display: flex;
  width: 100%;
  height: 50px;
}
.customize {
  display: flex;
  margin-left: auto;
  color: #6a737d;
}
.popular {
  color: #6a737d;
}
.repos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: stretch;
}
.right-items {
  display: flex;
  width: 100%;
}
.timeitem-right {
  display: flex;
  margin-left: auto;
}
.card {
  margin-top: 20px;
  border: 1px solid #e1e4e8;
  border-radius: 5px;
  flex-wrap: wrap;
  padding: 10px;
  flex: 0 1 48%;
}
.card-content {
  margin-left: 15px;
}
.project-language {
  display: flex;
  align-items: center;
  height: 30px;
}
.projectname h5 {
  color: #0366d6;
}
.project-tag {
  color: #6a737d;
}
.project-language {
  color: #6a737d;
  display: flex;
  align-items: center;
}
.circle-colorlang {
  border-radius: 50%;
  height: 12px;
  width: 12px;
  margin-right: 3px;
  display: flex;
}
.lan-name {
  flex: 2;
  margin-top: 15px;
}
.stars {
  flex: 2;
}
.forks {
  flex: 3;
}
.heatmap {
  height: 200px;
  width: 100%;
}
.heatmap img {
  width: 100%;
}
.myDiv {
  width: auto;
}
.total-con {
  margin-top: 25px;
}

.activity-content {
  display: flex;
  width: 100%;
}
.timeline-items {
  display: flex;
  margin-top: 20px;
}
.activity-tab {
  margin-top: 20px;
}
.vl {
  border-left: 3px solid #e2e5e8;
  height: 90px;
  margin-top: -20px;
  margin-left: 15px;
}
.har-line {
  border-top: 3px solid #e2e5e8;
  width: 90%;
  margin-top: 10px;
  margin-left: 10px;
}
.left-items {
  display: flex;
  position: relative;
  margin-right: 25px;
}
.p {
  position: relative;
  margin-left: -18px;
  display: flex;
  border: 1px solid #e2e5e8;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  background-color: #e2e5e8;
  color: #e2e5e8;
  margin-top: -2px;
}
@media (max-width: 770px) {
  .repos {
    /* display: flex; */
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    /* align-items: stretch; */
  }
  .card {
    margin-top: 20px;
    border: 1px solid #e1e4e8;
    border-radius: 5px;
    flex-wrap: wrap;
    padding: 10px;
  }
  .home-repos {
    width: 90%;
    /* margin-top: 100px; */
    /* margin-left: 20px; */
  }
  .heatmap img {
    width: 100%;
  }
  .total-con p {
    margin-top: 25px;
    /* text-size: 10px; */
    /* width: 10px; */
    font-size: 10px;
  }
}
@media (max-width: 470px) {
  .vl {
    border-left: 3px solid #e2e5e8;
    height: 130px;
    margin-top: -20px;
    margin-left: 15px;
  }
}
