.content {
  width: 100%;
}
.top-tabs {
  display: flex;
  height: 64px;
  margin-top: 40px;
  margin-left: 20px;
  font-weight: 400;
  font-size: 14px;
}
.tab-line {
  width: 100%;
  margin-top: -40px;
}

.overview {
  display: inline-block;
  margin-right: 30px;
  display: flex;
  align-items: center;
  color: #6a737d;
  text-decoration: none;
}
.content {
  width: auto;
}
.overview1 {
  display: inline-block;
  margin-right: 30px;
  display: flex;
  align-items: center;
  color: #6a737d;
  text-decoration: none;
}
.overview2 {
  display: inline-block;
  margin-right: 30px;
  display: flex;
  align-items: center;
  color: #6a737d;
  text-decoration: none;
}
.overview3 {
  display: inline-block;
  margin-right: 30px;
  display: flex;
  align-items: center;
  color: #6a737d;
  text-decoration: none;
}
.overview:hover {
  color: #24292e;
  border-bottom: 3px solid #24292e;
}
.overview1:hover {
  color: #24292e;
  border-bottom: 3px solid #24292e;
}
.overview2:hover {
  color: #24292e;
  border-bottom: 3px solid #24292e;
}
.overview3:hover {
  color: #24292e;
  border-bottom: 3px solid #24292e;
}

.overview a {
  text-decoration: none;
}
a:hover {
  text-decoration: none !important;
}

@media (max-width: 770px) {
  #tab4,
  #tab-icon {
    display: none;
  }
  #tab2 {
    margin-top: 7px;
  }
  .top-tabs {
    display: flex;
    height: 64px;
    margin-top: 40px;
    margin-left: 20px;
    font-weight: 400;
    font-size: 14px;
    justify-content: center;
  }
}
@media (min-width: 770px) {
  .tab-line {
    display: none;
    width: 100%;
    margin-top: -40px;
  }
}
